#our-history {
    width: 100%;
}

#our-history .our-data {
    width: 100%;
    height: 750px;
    background-image: url('/public/assets/images/photos/hamburger-escuro.jpg');
    background-size: cover;
    text-align: center;
    background-position: 110vh 0;
}

#our-history .our-data .text-principal {
    width: 100%;
    text-align: center;
}

#our-history .our-data h1 {
    margin-top: 1.5em;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25em; 
    color: var(--white);
}

#our-history .our-data h2 {
    color: var(--cream1);
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0;
}

#our-history .half {
    width: 100%;
} 

#our-history .half h3 {
    color: var(--white);
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.25em;
    text-align: center;
    margin-bottom: 0em;
}

#our-history .the-producer {
    margin: 1em;
    margin-bottom: 2.5em;
    margin-top: 4em;
    text-align: center;
    box-shadow: 6px 6px 40px var(--white25);
    background-image: linear-gradient(to left bottom, #555555, #6f5c68, #936162, #a2704a, #8e8c3b);
}

#our-history .the-producer img {
    width: 100%;
}

#our-history .the-producer h4 {
    color: var(--white);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 1em;
}

#our-history .the-producer p {
    color: var(--white);
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.5em;
    margin: 2em;
}

@media (min-width: 992px) {
    #our-history .our-data {
        background-position: 0 -5vw;
    }

    #our-history .our-data .text-principal h1 {
        font-size: 3em;
    }

    #our-history .our-data .text-principal h2 {
        font-size: 2.5em;
    }

    #our-history .the-producer {
        flex-direction: row;
    }

    #our-history .the-producer img {
        width: 400px;
        height: 500px;
        background-size: cover;
    }

    #our-history .the-producer .text-the-producer {
        margin: 3em 4em;
        flex-direction: column;
    }
}


/* 
    @media (min-width: 576px) {
        #our-history {
            display: flex;
            flex-direction: column;
            margin-top: 1em;   
        }
        
        #our-history .our-data h1 {
            background-image: url('/public/assets/images/photos/chef-preparing-vegetable-dish-on-tree-slab-1267320.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 100%;
            height: 515px;
            color:var(--white);
            font-size: 4em;
            font-weight: bold;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
            line-height: 1.25em; 
            text-align: center;
            justify-content: flex-end;
            
        }
        
        #our-history .our-data h2 {
            color: var(--white);
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
            font-size: 4em;
            font-weight: bold;
            line-height: 1.25em;
            position: absolute;
            margin-left: 35%; 
        }

        #our-history .half {
            width: 100%;
            height: 350px;
            font-size: 2.5em;
            margin: -1.5em 0 3em 0;
        } 
        
        #our-history .half h3 {
            color: var(--white);
            font-size: 1.8em;
            font-weight: bold;
            line-height: 1.25em;
            text-align: center;
        }
        
        #our-history .half h4 {
            color: var(--white);
            font-size: 1.6em;
            font-weight: lighter;
            text-align: center;
        }
        
        #our-history .the-producer {
            margin: 1em;
            box-shadow: 0px 0px 7px var(--white);
            margin-bottom: 2em;
            margin-top: 18em;
            flex-direction: row;
        }
        
        #our-history .the-producer img {
            width: 50%;
        }
        
        #our-history .the-producer p {
            color: var(--white);
            font-size: 1.6em;
            font-weight: lighter;
            line-height: 1.2em;
            text-align: center;
            margin: 0.5em;
        }
        
        
    }


    @media (min-width: 950px) {
        #our-history {
            display: flex;
            flex-direction: column;
        }
    
        #our-history {
            display: flex;
            flex-direction: column;
        }
    
        #our-history .our-data {
         
        }
        
        #our-history .our-data h1 {
            background-image: url('/public/assets/images/photos/chef-preparing-vegetable-dish-on-tree-slab-1267320.jpg');
            background-size: cover;
            width: 100%;
            height: 800px;
            color: var(--white);
            font-size: 6em;
            font-weight: bold;
            line-height: 1.25em; 
            text-align: center;
        }
        
        #our-history .our-data h2 {
            color: var(--white);
            font-size: 4em;
            font-weight: bold;
            line-height: 1.25em;
            position: absolute;
            margin-top: 5em;
            margin-left: 39%;
           
        }
        #our-history .half {
            width: 100%;
            height: 200px;
            margin-top: -2em;
            margin-bottom: 5em;
        } 
        
        #our-history .half h3 {
            color: var(--white);
            font-size: 2em;
            font-weight: bold;
            line-height: 1.25em;
            text-align: center;
        }
        
        #our-history .half h4 {
            color: var(--white);
            font-size: 1.6em;
            font-weight: lighter;
            text-align: center;
        }
        
        #our-history .the-producer {
            margin: 1em;
            box-shadow: 0px 0px 10px var(--white);
            background-color: var(--black25);
            margin-bottom: 2em;
            margin-top: 10.5em;
            height: 825px;
        }
        
        #our-history .the-producer img {
            width: 40%;
        }
        
        #our-history .the-producer p {
            color: var(--white);
            font-size: 1.8em;
            font-weight: lighter;
            line-height: 1.4em;
            text-align: center;
            margin: 1em;
        }


        @media (min-width: 951px) {
            #our-history {
                display: flex;
                flex-direction: column;
            }
        
            #our-history {
                display: flex;
                flex-direction: column;
            }
        
            #our-history .our-data {
             
            }
            
            #our-history .our-data h1 {
                background-image: url('/public/assets/images/photos/chef-preparing-vegetable-dish-on-tree-slab-1267320.jpg');
                background-size: cover;
                width: 100%;
                height: 800px;
                color: var(--white);
                font-size: 6em;
                font-weight: bold;
                line-height: 1.25em; 
                text-align: center;
            }
            
            #our-history .our-data h2 {
                color: var(--white);
                font-size: 4em;
                font-weight: bold;
                line-height: 1.25em;
                position: absolute;
                margin-top: 5em;
                margin-left: 39%;
               
            }
            #our-history .half {
                width: 100%;
                height: 200px;
                margin-top: -2em;
                margin-bottom: 5em;
            } 
            
            #our-history .half h3 {
                color: var(--white);
                font-size: 2em;
                font-weight: bold;
                line-height: 1.25em;
                text-align: center;
            }
            
            #our-history .half h4 {
                color: var(--white);
                font-size: 1.6em;
                font-weight: lighter;
                text-align: center;
            }
            
            #our-history .the-producer {
                margin: 1em;
                box-shadow: 0px 0px 10px var(--white);
                background-color: var(--black25);
                margin-bottom: 2em;
                margin-top: 10.5em;
                height: 825px;
            }
            
            #our-history .the-producer img {
                width: 40%;
            }
            
            #our-history .the-producer p {
                color: var(--white);
                font-size: 1.7em;
                font-weight: lighter;
                line-height: 1.3em;
                text-align: center;
                margin: 1em;
            }



@media (min-width: 1400px) {
    #our-history {
        display: flex;
        flex-direction: column;
    }

    #our-history {
        display: flex;
        flex-direction: column;
    }

    #our-history .our-data {
     
    }
    
    #our-history .our-data h1 {
        background-image: url('/public/assets/images/photos/chef-preparing-vegetable-dish-on-tree-slab-1267320.jpg');
        background-size: cover;
        width: 100%;
        height: 800px;
        color: var(--white);
        font-size: 6em;
        font-weight: bold;
        line-height: 1.25em; 
        text-align: center;
    }
    
    #our-history .our-data h2 {
        color: var(--white);
        font-size: 4em;
        font-weight: bold;
        line-height: 1.25em;
        position: absolute;
        margin-top: 5em;
        margin-left: 39%;
       
    }
    #our-history .half {
        width: 100%;
        height: 200px;
        margin-top: 0em;
        margin-bottom: 5em;
    } 
    
    #our-history .half h3 {
        color: var(--white);
        font-size: 1.9em;
        font-weight: bold;
        line-height: 1.25em;
        text-align: center;
    }
    
    #our-history .half h4 {
        color: var(--white);
        font-size: 1.6em;
        font-weight: lighter;
        text-align: center;
    }
    
    #our-history .the-producer {
        margin: 1em;
        box-shadow: 0px 0px 10px var(--white);
        background-color: var(--black25);
        margin-bottom: 2em;
        margin-top: 6em;
        height: 825px;
    }
    
    #our-history .the-producer img {
        width: 40%;
    }
    
    #our-history .the-producer p {
        color: var(--white);
        font-size: 1.9em;
        font-weight: lighter;
        line-height: 1.5em;
        text-align: center;
        margin: 1em;
    }

    
} */
















/* main #about {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main #about .top-about > section {
    background-image: url("/public/assets/images/photos/chefcristiano-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: flex-end;
} 

main #about .top-about > section h1 {
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25em;
    text-shadow: 2px 2px var(--cream1);
    align-items: end;
}

main #about .top-about > section h2 {
    color: var(--white);
    font-size: 2.8em;
    font-weight: bold;
    margin: 0.5em 0 0.8em 2px;
    line-height: 1.25em;
    text-shadow: 2.5px 1.5px var(--cream1);
}

main #about .top-about > section h3 {
    color: var(--white);
    font-size: 2.8em;
    font-weight: bold;
    margin: 0.5em 0 0.8em 2px;
    line-height: 1.25em;
    text-shadow: 2.5px 1.5px var(--cr);
}


main #about .top-about > section p {
    color: var(--grayD);
    height: 100%;
    display: flex;
    margin: -10px 0 0 .13em;
    font-size: 1.18em;
    justify-content: flex-end;
}

main #about .top-about > section img {
    width: 100%;
    height: 400px;
    position: absolute;
    align-items: center;
    justify-content: center;
} */

