#our-history {
    flex: column;
}

#our-history .our-data h1 {
    background-image: url('/public/assets/images/photos/chefcristiano-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25em; 
    width: 100%;
    height: 800px;
    text-align: center;
}

#our-history .our-data h2 {
    color: var(--white);
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.25em;
    text-align: center;
}

#our-history .our-data h3 {
    color: var(--white);
    font-size: 1.6em;
    font-weight: lighter;
    text-align: center;
}

#our-history .the-producer {
    margin: 1em;
    box-shadow: 0px 0px 15px var(--yellow);
    background-color: var(--black25);
    margin-bottom: 2em;
}

#our-history .the-producer img {
    width: 100%;
    align-items: center;
    justify-content: center;
}

#our-history .the-producer p {
    color: var(--white);
    font-size: 1em;
    font-weight: lighter;
    line-height: 1em;
    text-align: center;
    margin: 0.5em;
}

@media (min-width: 576px) {
    #our-history {
        display: flex;
        flex-direction: column;
    }

    #our-history .our-data h1 {
        background-image: url('/public/assets/images/photos/chefcristiano-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: var(--white);
        font-size: 5em;
        font-weight: bold;
        line-height: 1.25em;
        width: 100%;
        height: 800px;
        text-align: center;
    }
    
    #our-history .our-data h2 {
        color: var(--white);
        font-size: 3em;
        font-weight: bold;
        line-height: 1.25em;
        text-align: center;
    }
    
    #our-history .our-data h3 {
        color: var(--white);
        font-size: 2.7em;
        font-weight: lighter;
        text-align: center;
    }
    
    #our-history .the-producer {
        flex-direction: column;
        margin: 1em;
        box-shadow: 0px 0px 15px var(--white);
        background-color: var(--black25);
        margin-bottom: 2em;
    }
    
    #our-history .the-producer img {
        width: 100%;
        align-items: center;
    }
    
    #our-history .the-producer p {
        color: var(--white);
        font-size: 2em;
        font-weight: lighter;
        line-height: 1.5em;
        text-align: center;
        margin: 0.5em;
    }
}

    @media (min-width: 1200px) {
        #our-history {
        display: flex;
        flex-direction: column;
    }

    #our-history .our-data h1 {
        background-image: url('/public/assets/images/photos/chefcristiano-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: var(--white);
        font-size: 8em;
        font-weight: bold;
        line-height: 1.25em;
        text-shadow: 2px 2px var(--yellow); 
        width: 100%;
        height: 800px;
        text-align: center;
    }
    
    #our-history .our-data h2 {
        color: var(--white);
        font-size: 3em;
        font-weight: bold;
        line-height: 1.25em;
        text-shadow: 1.5px 1.5px var(--yellow);
        text-align: center;
    }
    
    #our-history .our-data h3 {
        color: var(--white);
        font-size: 2.7em;
        font-weight: lighter;
        text-align: center;
    }
    
    #our-history .the-producer {
        flex-direction: row;
        flex: 1;
        margin: 1em;
        box-shadow: 0px 0px 15px var(--yellow);
        background-color: var(--black25);
        margin-bottom: 2em;
    }
    
    #our-history .the-producer img {
        width: 50%;
        height: 100%;
        align-items: left;
    }
    
    #our-history .the-producer p {
        color: var(--white);
        font-size: 2em;
        font-weight: lighter;
        line-height: 1.5em;
        text-align: center;
        margin: 2em 0.5em 0.5em 0.5em;        
    }
}

/* main #about {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main #about .top-about > section {
    background-image: url("/public/assets/images/photos/chefcristiano-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: flex-end;
} 

main #about .top-about > section h1 {
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25em;
    text-shadow: 2px 2px var(--cream1);
    align-items: end;
}

main #about .top-about > section h2 {
    color: var(--white);
    font-size: 2.8em;
    font-weight: bold;
    margin: 0.5em 0 0.8em 2px;
    line-height: 1.25em;
    text-shadow: 2.5px 1.5px var(--cream1);
}

main #about .top-about > section h3 {
    color: var(--white);
    font-size: 2.8em;
    font-weight: bold;
    margin: 0.5em 0 0.8em 2px;
    line-height: 1.25em;
    text-shadow: 2.5px 1.5px var(--cr);
}


main #about .top-about > section p {
    color: var(--grayD);
    height: 100%;
    display: flex;
    margin: -10px 0 0 .13em;
    font-size: 1.18em;
    justify-content: flex-end;
}

main #about .top-about > section img {
    width: 100%;
    height: 400px;
    position: absolute;
    align-items: center;
    justify-content: center;
} */

