#home {
    flex-direction: column;
    width: 100%;
    display: flex;
    background-color: rgba(16, 16, 16, 1);
}

#home header {
    width: 100%;
    display: flex;
    padding: 2em;
  
}

#home header .text-header {
    margin-left: 4em;
    flex-direction: column;
    justify-content: center;
}

#home header .img-header {
    margin-right: 6em;
    max-width: 100%;
    background-size: cover;
    margin: 0.5em;
}

#home header h1 {
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-left: -75px;
    line-height: 1.25em;
} 

#home header .div-button {
    width: 100%;
    margin-top: 1em;
    justify-content: flex-start;
}

#home header button {
    justify-content: center;
    width: 140px;
    height: 30px;
    font-size: 1em; 
    background-color: transparent;
    border: solid 1px var(--cream1);
    border-radius: 8px;
    background-color: var(--black85);
    margin-top: -1.3em;
    margin-left: -75px;
}

#home header button a {
    text-decoration: none;
    color: var(--cream1);
}

#home .history {
    flex-direction: column;
    background-color: var(--black25);
    margin: 1em;
    box-shadow: 6px 6px 40px var(--white25);
}

#home .history img {
    width: 100%;
    border-right: solid 1px var(--white25);
}

#home .div-history {
    flex-direction: column;
    margin: 1em 3.5em;
}

#home .history .div-history h2 {
    color: var(--white);
    font-size: 2.8em;
    font-weight: bold;
    margin: 0.5em 0 0.8em 2px;
    line-height: 1.25em;
}

#home .history .div-history h3 {
    color: var(--white);
    font-size: 1.4em;
    margin: -25px 0 1em .2em;
}

#home .history .div-history p {
    color: var(--grayD);
    height: 100%;
    display: flex;
    margin: -10px 0 0 .13em;
    font-size: 1.18em;
}

#home .history .div-history div {
    color: var(--grayD);
    height: 100%;
    display: flex;
    margin-top: .5em;
}

#home .history .div-history div a {
    height: 18px;
    text-decoration: none;
    color: var(--cream1);
    cursor: pointer;
    margin: 1em 0 .35em 0;
}

#home .food {
    flex-direction: column;
    background-image: url('/public/assets/images/photos/home3.jpg');
    background-size: cover;
    box-shadow: 6px 6px 40px var(--white25);
    height: 30em;
    margin: 1em;
    margin-top: 2em;
}

#home .food h2 {
    color: var(--white);
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.25em;
    margin-top: .5em;
    margin-left: 1em;
    margin-bottom: 0;
}

#home .food h3 {
    height: 18px;
    margin-left: 2.5em;
    line-height: 1.25em;
    margin-top: 6px;
}

#home .food h3 a {
    text-decoration: none;
    color: var(--cream1);
}

#home .ingredients {
    margin: 1em;
}

#home .ingredients img {
    width: 90%;
    height: 90%;
    margin: 1em 1.2em;
    background-color: rgba(16, 16, 16, 1);
}

#home .ingredients h2 {
    color: var(--white);
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.25em;
    margin-left: 5px;
}

#home .ingredients h3 {
    text-decoration: none;
    color: var(--cream1);
    margin-top: -1.2em;
    margin-left: 7px;
    margin-bottom: 0;
}

#home .ingredients p {
    color: var(--grayD);
    height: 100%;
    display: flex;
    font-size: 1.18em;
    margin-left: 5px;
}

#home .reservhome {
    background-image: url('/public/assets/images/photos/reservhome.jpg');
    background-size: cover;
    height: 500px;
    margin: 0;
}

#home .reservhome h2 {
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25em;
    margin-top: 12em;
    text-align: center;
}

#home .reservhome > div button {
    justify-content: center;
    width: 140px;
    height: 30px;
    font-size: 1em; 
    border: solid 1px var(--cream1);
    border-radius: 8px;
    background-color: var(--black85);
    align-items: center;
    text-align: center;
    margin-left: 50%; 
}

#home .reservhome > div button a {
    font-size: 1em; 
    text-decoration: none;
    color: var(--cream1);
}

@media (min-width: 576px) {
    #home .food {
        background-position: 0 -30vw;
    }
}

/* 
@media (min-width: 992px) {
    #home {
        flex-direction: column;
        width: 100%;
        display: flex;
        background-color: rgba(16, 16, 16, 1);
    }

    #home header {
        width: 100%;
        min-width: 320px;
        height: 800px;
        display: flex;
        padding: 3em;
    }

    #home header .text-header {
        margin-left: 4em;
        flex-direction: column;
        justify-content: center;
    }

    #home header .img-header {
        margin-right: 6em;
    }

    #home header h1 {
        color: var(--white);
        font-size: 3.3em;
        font-weight: bold;
        margin: 0.4em 0;
        line-height: 1.25em;
    } 

    #home header .div-button {
        width: 100%;
        margin-top: 1em;
        justify-content: flex-start;
    }

    #home header button {
        justify-content: center;
        width: 225px;
        height: 60px;
        font-size: 2em; 
        background-color: transparent;
        border: solid 1px var(--cream1);
        border-radius: 8px;
        background-color: var(--white);
    }

    #home header button a {
        text-decoration: none;
        color: var(--cream1);
    }

    #home .history {
        flex-direction: row;
        background-color: var(--black25);
        margin: 5em;
        box-shadow: 0px 0px 13px var(--white85);
    }

    #home .history img {
       width: 50%;
       height: 480px;
       border-right: solid 1px var(--white25);
    }

    #home .div-histordy {
        flex-direction: column;
        margin: 1em 4em;
    }

    #home .history .div-history h2 {
        color: var(--white);
        font-size: 2.8em;
        font-weight: bold;
        margin: 0.5em 0 0.8em 0;
        line-height: 1.25em;
    }

    #home .history .div-history h3 {
        color: var(--white);
        font-size: 1.4em;
        margin: 0 0 1em .13em;
    }

    #home .history .div-history p {
        color: var(--grayD);
        height: 100%;
        display: flex;
        margin: 0 0 0 .13em;
        font-size: 1.18em;
    }

    #home .history .div-history div {
        color: var(--grayD);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #home .history .div-history div a {
        height: 18px;
        text-decoration: none;
        color: var(--cream1); 
        cursor: pointer;
    }

    #home .food h2 {
        float: right;
        color: var(--white);
        font-size: 4em;
        font-weight: bold;
        margin: 0.4em 0;
        line-height: 1.25em;
    }
} */