#menu {
    width: 100%;
}

#menu h1 {
    text-align: center;
    margin-top: 100px;
}

#menu .menu-itens img {
    max-width: 100%;
    display: block;
}

#menu .menu-itens {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

#menu .menu-itens p {
    color: var(--white);
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.5em;
    text-align: left;
}

#menu .menu-itens > div {
    flex: 1 1 200px;
    margin: 10px;
}

