.page {
    width: 100%;
}

.page .banner {
    width: 100%;
    height: 600px;
    background-image: url('/assets/images/photos/reservation-header.jpg');
    background-size: cover;
}

.page .banner .banner-text {
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-bottom: 9em; 
}

.page .banner .banner-text h1 {
    color: var(--white);
    font-size: 3em;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 2em;
}

.page .banner .banner-text .text-corona {
    padding: 3em;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.page .banner .banner-text .text-corona h2 {
    font-size: 2em;
    color: var(--cream1);
}

.page .banner .banner-text .text-corona p {
    font-size: 1.5em;
    color: var(--white);
    font-weight: bold;
}

.page .form {
    width: 100%;
    padding: 1em 3em;
}

.page .form div h2 {
    color: var(--white);
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.page .form .fields .field {
    margin-bottom: 2em;
    border: 1px solid var(--cream1);
    padding: .8em;
    border-radius: 6px;
}

.page .form .fields .field input,
.page .form .fields .field textarea {
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    color: var(--white);
    padding: .8em;
}

.page .form .fields .field textarea {
    height: 100px;
}


.page .form button {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: var(--white);
    border: 3px solid var(--cream1);
    align-items: center;
    justify-content:  center;
    font-size: 1.5em;
    color: var(--black);
    cursor: pointer;
    outline: none;
    margin-bottom: 2em;
}

.page .form button:hover {
    opacity: .8;
    transition: all .3s ease-in-out;
}

.page .form button:active {
    opacity: .4;
}


@media (min-width: 992px) {

    .page {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    
    .page section {
        display: flex;
        flex-direction: row;
        margin-top: 1em;
    }
    
    .page .banner {
        height: 100vh;
        margin-top: 15px;
        background-image: url('/assets/images/photos/reservation-header.jpg');
        background-size: cover;
        background-position-y: center;
    }
    
    .page .banner-text {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 0 1.5em 18em 1.5em;
        align-items: center;
        justify-content: center;
    }
    
    .page .banner-text h1 {
        color: var(--white);
        font-size: 2.5em;
        font-weight: bold;
        margin: 0.4em 0px;
        padding-top: 169px;
        line-height: 1.25em;
        text-shadow: 1.5px 1.5px var(--yellow);
    }

    .page .banner .banner-text .text-corona {
        padding: 3em;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }
    
    .page .form .fields { 
        align-items: center;
        justify-content: center;
    }

    .page .form h2 {
        padding: 0 1em;
    }

    .page .form .fields .field {
        min-width: 500px;
    }

    .page .form .div-button {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .page .form .div-button button {
        max-width: 500px;
    }
}

@media (min-width: 1200px) {
    .page .form .fields .field {
        min-width: 700px;
    }

    .page .form .div-button {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .page .form .div-button button {
        max-width: 700px;
    }
}