.page {
    width: 100%;
}

.page .banner {
    width: 100%;
    height: 600px;
    background-image: url('/public/assets/images/photos/reservation-header.jpg');
    background-size: cover;
}

.page .banner .banner-h1 {
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-bottom: 9em;
}

.page .banner .banner-h1 h1 {
    color: var(--white);
    font-size: 2.3em;
}

.page .form {
    width: 100%;
    padding: 1em 3em;
}

.page .form div h2 {
    color: var(--white);
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.page .form .fields .field {
    margin-bottom: 2em;
    border: 1px solid var(--cream1);
    padding: .8em;
    border-radius: 6px;
}

.page .form .fields .field:hover {
    border-color: var(--white);
}


















/* .page {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.page section {
    width: 100%;
} sim

.page .banner {
    width: 100%;
    height: 450px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    background-image: url('/public/assets/images/photos/reservation-header.jpg');
    background-size: cover;
}

.page .banner-h1 {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 1.5em 18em 1.5em;
    align-items: center;
    justify-content: center;
}

.page .banner-h1 h1 {
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    margin-top: 6em;
    line-height: 1.25em;
}

.page .form {
    margin-top: 2em;
    width: 100%;
}

.page .form form {
    flex-direction: row;
}

.page .form form h1 {
    margin: 0em 1em 1em 1em;
    color: var(--white);
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.25em;
    text-shadow: 1.2px 1.2px var(--yellow);

}

.page .form .fields {
    width: 96%;
    justify-content: center;
    margin: 0 3em;
    color: var(--white);    
}

.page .form .fields .field {
    border: solid .1em var(--grayC);
    border-radius: 2px;
    margin-bottom: .5em;
    color: var(--white);
}

.page .form button {
    border: none;
    width: 6em; 
    padding: 8px;
    margin-left: 0.3em;
    margin-top: .6em;
    margin-bottom: .8em;
    outline: 15em;
    background: var(--grayC);
    text-align: center;
    justify-content: center;
    text-decoration: var(--cream2);
    
}


.page .form button:hover {
    color: var(--cream2);
}


@media (min-width: 1200px) {

    .page {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .page section {
        display: flex;
        flex-direction: row;
        margin: 74px 0;
    }
    
    .page .banner {
        width: 50%;
        height: 450px;
        margin-top: 15px;
        background-image: url('/public/assets/images/photos/reservation-header.jpg');
        background-size: cover;
        background-position-y: center;
    }
    
    .page .banner-h1 {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 0 1.5em 18em 1.5em;
        align-items: center;
        justify-content: center;
    }
    
    .page .banner-h1 h1 {
        color: var(--white);
        font-size: 2.5em;
        font-weight: bold;
        margin: 0.4em 0px;
        padding-top: 169px;
        line-height: 1.25em;
        text-shadow: 1.5px 1.5px var(--yellow);
    }
    
    /* .page .banner-p {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .page .banner-p p {
        margin-top: -5px;
        color: var(--cream2);
        font-size: 1.6em;
        text-shadow: 2px 2px var(--white);
    } */
  /*   
    .page .form {
        margin-top: 0em;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    
    .page .form form {
        flex-direction: row;
        width: 50%;
    }
    
    .page .form form h1 {
        margin: 0em 1em 1em 1em;
        color: var(--white);
        font-size: 1.2em;
        font-weight: lighter;
        line-height: 1.25em;
        text-shadow: 1.2px 1.2px var(--yellow);
    }
    
    .page .form .fields {
        width: 96%;
        justify-content: center;
        margin: 0 .1em .1em .3em;
        color: var(--white);    
    }
    
    .page .form .fields .field {
        border: solid .1em var(--grayC);
        border-radius: 2px;
        margin-bottom: .5em;
        color: var(--white);
    }
    
    .page .form button {
        border: none;
        width: 6em;
        padding: 8px;
        margin-left: 40%;
        margin-top: .6em;
        margin-bottom: .8em;
        outline: 15em;
        background: var(--grayC);
        text-align: center;
        justify-content: center;
        text-decoration: var(--cream2);
    }
    
    
    .page .form button:hover {
        color: var(--yellow);
    }
} */ */