:root {
    --black: #000;
    --black18: #181818;
    --black25: #25252549;
    --black35: #35353560;
    --black70: #00000070;
    --black75: #00000075;
    --white: #fff;
    --white85: #ffffff85;
    --white25: #ffffff25;
    --white40: #ffffff40;
    --grayC: #CCC;
    --grayD: #ddd;
    --grayE: #eee;
    --cream1: rgb(241, 240, 175);
    --cream2: rgb(255, 253, 139);
    --cream3: rgb(252, 249, 96);
}